/*Description: FoodEdge CSS*/
/*Author:Chan Kwang Yung, Karyn Chong, Desmond Sim, Alvin Sim, Wong Jun Jie*/
/*Date:04/10/2020*/
/*Validated:*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif; 
    font-weight: 400;
}

body{
    background-color: #325050;
}


header{
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), transparent);
    z-index: 10;
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2%;
}


nav ul{
    margin-bottom: 0;
}

nav{
    margin-right: auto;
    margin-top: auto;
    margin-bottom:auto;
}


nav ul a li{
    width: 6em;
    text-align: center;
    font-weight: 500;
}

nav ul a {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    color:white;
    font-size: 15px;
    
}
nav ul a::after{
    content: "";
    display: block;
    width: 0;
    height:2px;
    background-color: #a92507;
    transition: width 500ms;
}

nav ul a:hover::after{
    width: 100%;
    transition: width 500ms;
}

  
nav ul a:hover{
    color: #a92507;
    transition: .5s;
}


.loginButton{
    padding: 8px 15px;
    margin: 0 10px;
    background-color: rgba(169, 37, 7, 0.7);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all .5s ease 0s;
    color: #FDFEFD;
    font-size: 16px;
    line-height: normal;
}

.loginButton:hover{
    background-color: #a92507;
    color: #ffad49;
}

.profile_icon{
    margin-left:20%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile_icon:hover{
    opacity:.5;
}

.pageBanner{
    background-image: url(../images/generalBanner.jpg);
    width: 100%;
    height:40vh;
    background-size: cover;
    background-position: center;
}

.theCalendar footer{
    display: none;
}

.pageBanner h1{
    text-align: center;
    color:white;
    font-size: 2em;
    position: absolute;
    top: 20%;
    left:50%;
    transform:translate(-50%, -50%);
    background: #132020c4;
    padding: 20px 30px;
}
  /* ------------------------------------------------profile.html----------------------------------------------------- */


.profile-header{
    position: absolute;
    top:20%;
    left:15%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    align-items: end;
}
.profile-img{
    width:250px;
    height:230px;
    grid-area:  1 / 1 / span 2 / span 1;
}

.profile-img img{
    border-radius: 50%;
    height:230px;
    width:230px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0, .2);
    z-index:5;
    background: white;
}

.profile-desc{
    color:white;
}
.profile-body{
    width: 100%;
    z-index: 1;
}


.profile_box{
    width:70%;
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #1b2845 74%);
    margin:2% 15%;
    box-shadow: 15px 15px 15px 1px rgba(0, 0, 0, 0.5);
    overflow:hidden;
    border-radius: 32px;
}

.chip{
    width:50px;
}

.profile_pic{
    width:100%;
    height: 100%;
}

.profile_img{
    width:40%;
    height: 100%;
    padding:2%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    z-index: 99;
    padding-top:5%;
    display:flex;
    flex-wrap: row wrap;
    justify-content: center;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover{
      box-shadow: 0px -5px 0px #a92507 inset;
      background-color: #ccc;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
      box-shadow: 0px -5px 0px #a92507 inset;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  #avenue{
      display: block;
      
  }
  .deleteAccount{
      position:absolute;
      right:3%;
      top:42%;
      opacity:1;
      transition:.5s;
      background:none;
      border:none;
      width:40px;
      height:40px;
  }
  .deleteAccount:hover{
      opacity:.8;
  }
  .deleteAccount img{
      width:40px;
      height:40px;
  }

.member_status{
    font-size: 10em;
    word-wrap: break-word;
    hyphens: auto;
}

#more_details{
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    color:white;
    font-weight: bold;
    font-style: italic;
}

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  
  th {
    background-color: #314e4e;
    color: white;
  }



  #profile_info
  {
      width: 70%;
  }

  /* ------------------------------------------------index.html----------------------------------------------------- */
.banner{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.textWrap{
    text-align: center;
}

.title{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2rem;
    color:white;
}

.titleSpecial{
    font-family: 'Satisfy', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color:white;
}

.bigBanner{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.introHome{
    width: 100%;
    background-color: #151515;
    position: relative;
    z-index: 10;
}

.introHome .containerHome{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.introHome img{
    width: 100%;
}

.introHome .containerHome > *{
    margin: 2rem;
}

.descriptionHome{
    color: #fff;
    width:50%;
}

.imgContainerHome{
    width:50%;
}

.titleHome{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}


.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

@media (max-width: 850px){
    section .containerHome{
        grid-template-columns: 1fr;
    }
}

.joinMember, .orderHome{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url(../images/joinMember.jpg);
    overflow: hidden;
  }

  .orderHome{background-image: url(../images/orderHome.jpg)}
  

  .ptext .index_products{
    position: relative;
    width: 25%;
    text-align: center;
    display: block;
    margin:40vh auto 0 auto;
    background: #32241a99;
    border-radius: 2%;
    padding: 20px;
    color:white;
    z-index:10;
    font-size: 1.3rem;
    font-weight: 500;
    overflow: hidden;
    transition: .5s all ease;
  }
 
  
  .ptext p{
    color:white;
    position: absolute;
    top: 70%;
    width: 100%;
    margin: 0;
    padding:0 5% 0 5%;
    text-align: center;
    font-size: 1.3rem;
  }

  .view_button p{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
/* -----------------------------------------------------feedback.html------------------------------------------------------------------ */
form, .profile{
    background: white;
    width: 85%;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 5%;
    margin: 2% auto;
}

#feedbackTitle{
    text-align: center;
}

textarea{
    width:100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    width:100%;
    margin: 10px 0;
}

.name input{
    width: 49.5%;
}
.name{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


select{
    width:100%;
    padding: 12px 20px;
    border-radius: 4px;

}


legend{
    font-size: 18px;
    text-align: center;
}
.category input{
    width: auto;
}

.category label{
    padding: 10px;
}

.category{
    margin: 0 100px;
}

.ratings{
    display: flex;
    width:250px;
    margin: 0 auto;
    flex-direction: row-reverse;
}

.ratings input{
    display: none;
}

.ratings label{
    display: block;
    cursor: pointer;
    width: 50px;
}

.ratings label::before{
    content:'\f005';
    font-family: fontAwesome;
    position:relative;
    display:block;
    font-size:30px;
    color:gray;
}

.ratings label::after{
    content:'\f005';
    font-family: fontAwesome;
    position: relative;
    display:block;
    font-size:30px;
    color:#ffad49;
    top: -45px;
    opacity: 0;
    transition: all .3s ease 0s;
    
}

.ratings label:hover::after,
.ratings label:hover ~ label::after,
.ratings input:checked ~ label::after{
    opacity: 1;
    
}

input[type=submit], button[type=submit], button[type=reset], input[type=button]{
    border:none;
    background-color: #a92507;
    color: white;
    padding: 1%;
    margin: 2% auto;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    border-radius: 200px;
    width: 30%;
    font-weight: 600;
}

input[type=submit]:hover, button[type=submit]:hover, button[type=reset]:hover, input[type=button]:hover{
    background-color: #ffad49;
    color: #314e4e;
}

/* --------------------------------------------------------------Customer Order------------------------------------------------------------------ */
#ordertitle{
    text-align: center;
}
.ordername{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

label {
    margin: 0;
    display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 4;
  }
  
.name input{
	width: 100%;

}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.questionmark{
  width: 30px;
  margin-left: 90%;
}

.payment{
    text-align: center;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 50px;
    text-align: center;
}

/* --------------------------------------------------------------stockEditRemove------------------------------------------------------------------ */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }




/* --------------------------------------------------------------Orders Assigned to Staff---------------------------------------------------------- */

.collapsible1, .collapsible2 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible1:hover, .collapsible2:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#extra_info{
  font-size: 15px;
}

#assign_date{
  text-align: right
}

/* --------------------------------------------------------------AboutUs.html---------------------------------------------------------- */

  
#AboutUs, #AboutUsTitle2{
    margin-top: 50px;
    text-align: center;
}
  
#about, #about_info2{
    text-align: center;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

/* ---------------------------------------------------sucess.html------------------------------------------------- */

#paymentSuccessful{
    text-align: left;
    padding: 2%;
}

#tickPicture{
    width: 5%;
    margin: 0 auto;
    display: block;
}


/* -------------------------------------------------- sets.html--------------------------------------------------- */
.carousel{
    background: #314e4e;
    margin: 5vh auto;

}

.carousel-slide{
    width:90%;
    min-height:80vh;
    margin-right:10px;
    background-image: url(../images/set1Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:5px;
}

  /* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
  /* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

.static-banner{
    position: absolute;
    top:80%;
    left:70%;
    height: 15%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a92507;
    color:white;
    z-index:10;
    font-size: 2em;
    font-weight: 500;
    overflow: hidden;
    transition: .5s all ease;
}

   
.static-banner:before, .ptext h2::before{
    content: '';
    position: absolute;
    background: #ffad49;
    left: 50%;
    top: 50%;
    z-index: -1;
    transition: all 0.6s ease;
    height: 0;
    width: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ptext h2::before{
    background: #a92507;
}

.static-banner:hover:before, .ptext h2:hover::before{
    height: 450%;
}
.static-banner:hover {
    color: #314e4e;
}

.setTitle{
      margin: 1% 0 0 2%;
      font-weight: bold;
      background: #FDFEFD;
      padding: 10px;
      width:30%;
      text-align: center;
}
.menuInfo{
    display: flex;
}

.signatureDish{
    width: 80%;
}

.signatureDish h3{
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    border-bottom: #FDFEFD solid 3px;
    color: #FDFEFD;
    font-weight: bold;
    text-align: center;
}

.region{
    position: absolute;
    left:80%;
    top:15%;

}

.gallery{
    width:100%;
    justify-content: center;
    display:flex;
    flex-flow: row wrap;
    margin: 0;
  }
  
  .gallery_item{
    width:50%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  .gallery_item a, .gallery_image{
    width:100%;
    height:100%;
    display:block;
  }
  
  .gallery_image{
    max-width: 100%;
    transition: transform .2s;
    transform: scale(0.9);
  }
  
  .gallery_item:hover .gallery_image{
    transform: scale(1);
  }
  .user-content-part{
    margin-top: 5%;
}
.hedding-p p{	
	margin:0px;
	padding:0px 0px 10px 0px;
	font-size:15px;
}
.average-rating{
	text-align: center;
    width:100%;
}
.overall-rating{
    text-align: center;
    margin-top: 2%;
}

.fa-star,.fa-star-o,.fa-star-half-o{
	color:#FDC91B;
	font-size:15px;
}
.reviews p{
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: underline ;
    margin-top: 2%;
}
.user-img img{	
	height: 80px;
	width: 80px;
	border: solid 1px black;
	border-radius: 50%;
}
.user-img-part{
	width:30%;
	float:left;
}
.user-img{
	width:30%;
	float:left;
	text-align: center;
}
.user-text{
    float:left;
}
.user-text h4{
    font-size: 13px;
    font-weight: bold;
}
.user-text p{
    font-size: 10px
}
.user-text h4,.user-text p{
    margin:0px 0px 5px 0px;
}


.comment{
	width:68%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
}

.user-review{
    font-size: 0.8rem;
}
  
  /*product description style*/
  .all_details{
    position: absolute;
    bottom:-600px;
    background:#fff;
    padding:5%;
    transition: .5s;
    height:100%;
    width:100%;
    opacity: 0.9;
    overflow: auto;
  }
  
  .description h2{
    margin:0;
    padding:0;
    width:100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
  }
  
  .description p{
    margin:0;
    padding:0;
    width:100%;
    text-align: center;
    color: grey;
  }
  
  
  .gallery_item:hover .all_details{
  bottom:0;
  }
  
  /*improves fluidity of product catalog page*/
  @media only screen and (min-width: 48em){
    .gallery_item{
      flex-basis: calc(50% - 2rem);
    }
  }
  
  @media only screen and (min-width: 60em){
    .gallery_item{
      flex-basis: calc((100% / 3) - 2rem);
    }
  }
  .allItems{
      background: #34261bcc;
      color:white;
      padding: 3%;
      margin: 3%;
  }

  #set1, #set2, #set3{
    display:none;
  }
  
  .centerAlign{
    text-align: center;
  }
  
  .commentSection{
    background:rgba(245, 245, 245, 0.8);
    border:1px rgba(128, 128, 128, 0.5) solid;
    border-radius: 10px;
    padding: 20px;
    margin: 2% auto;
  }
  
  .ratingStar{
    font-size: 16px;
    font-style: italic;
  }
  /* -------------------------------------------------------login/register pages--------------------------------------------------------------- */

  .login_box, .logout, .content-section{
      width:30%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      color:white;
      background: rgba(0, 0, 0, 0.6);
      padding:2% 3%;
      border-radius: 20px;
  }

  .content-section{
      width:60%;
  }

  .content-section .form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    grid-column-gap: 5%;
  }


  .mb-4{
    grid-area:  1 / 1 / span 1 / span 2;
    margin-bottom:0!important;
  }

  .text-muted{
      color:white;
  }

  .login_box h3{
      text-align: center;
      border-bottom: 3px solid #FDC91B;
      margin-bottom: 50px;
      padding:13px 0;
  }

  .login_textbox, .login_box #div_id_username div, .login_box #div_id_password div{
      width:90%;
      overflow: hidden;
      display: flex;
      flex-flow: row wrap;
      font-size: 20px;
      padding: 8px 0;
      margin:8px 0;
      border-bottom: 1px solid #FDC91B;
  }

  #div_id_username div, #div_id_password div{
      width:100%;
  }

  .login_textbox i{
      width: 26px;
      text-align: center;
      margin: auto 1%;
  }

  .login_textbox input, .login_box #div_id_username .form-control, .login_box #div_id_password .form-control, .content-section form{
      border:none;
      outline:none;
      background: none;
      color: white;
      width:100%;
      margin:0;
  }

  .content-section form{
      width:100%;
  }

  #div_id_username .form-control, #div_id_password .form-control{
    width:100%;
}

  .login_textbox input::placeholder{
    color:white;
}

.login_textbox input:focus::placeholder{
    color:rgb(121, 120, 120);
}

.login_button input[type=submit], .login_button button[type=submit]{
    width:100%;
    background:#FDC91B;
    border:2px solid #FDC91B;
    color: #314e4e;
    padding: 5px;
    margin: 10% 0;
    font-size:18px;
    transition: .5s;
}

.login_button input[type=submit]:hover, .login_button button[type=submit]:hover{
    width:100%;
    background:#a92507;
    border:2px solid #a92507;
    color: white;
}

/* ----------------------------------------------------------logout.html------------------------------------------------------------ */
.logout{
    text-align: center;
}

.text-muted a{
    color:white;
}
  /* ---------------------------------------------------------indexStaff.html---------------------------------------------------------- */
  .loginStaff img{
      margin: 0 10px;
      height: 30px;
      width: 30px;
      
  }

  .staffButtons {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width:60%;
    margin: 0 auto;
  }
  .staffBtn {
    padding: 20px;
    text-align: center;
  }

  .staffButtons div{
      margin: 1%;
      text-align: center;
  }

  .staffButtons div a{
    border-radius: 320px;
    color: #fff;
    padding: 5%;
    border: white solid 3px;
    font-weight: 500;
    transition: .8s;
    overflow: hidden;
    display: block;
  }

  .staffButtons div a:hover{
      border-color: #a92507;
      background-color: #a92507;
  }

  
/* --------------------------------------------------------------footer------------------------------------------------------------------ */
footer{
    height: 100%;
    width: 100%;
    text-align:center;
    background-color: #34261b;
    box-shadow: 0 0 15px 1px black;
    color: grey;
    position: relative;
    z-index: 6;
    padding: 3% 0;
}

.page-id-3892 footer {
	display: none;
}

.wrapper ul li{
    list-style-type: none;
    display: inline-block;
    margin: 3px;
}

.wrapper ul li a{
    text-decoration: none;
    color: white;
    opacity: .5;
}

.wrapper ul li a:hover{
    opacity: 1;
    transition:.5s;
}

.logo_footer img{
width:20%;
}

footer p{
    font-size: 15px;
    margin: 5px 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* -----------------------------------------------------alert message----------------------------------------------------------- */
.alert-success, .alert-danger, .alert-info {
    -moz-animation: cssAnimation .5s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation .5s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation .5s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation .5s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index:10;
    margin:0;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        padding:0;
        border:none;

    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        padding:0;
        border:none;
    }
}

.alert-danger{
    position: absolute;
    top:0;
    left:0;
}

/* ----------------------------------------------------------delete Confirmation--------------------------------------------------------------- */
table tr:nth-child(even){
    background: rgba(128, 128, 128, 0.2);
}

.deleteBtn, .deletebtn, .cancelbtn {
  background-color: #a92507;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 500px;
  width: 100%;
  transition: .5s;
}

.deleteBtn:hover, .deletebtn:hover{
  background-color: #ffad49;
  color: black;
}

.cancelbtn, .deletebtn{
  width: 80%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: rgba(128, 128, 128, 0.5);
  color: black;
}

.cancelbtn:hover{
    background-color:gray;
}

.clearfix{
    margin: 0 auto;
}


/* Add padding and center-align text to the container */
.deleteContainer {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.7);
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border-radius: 30px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 30%; 
  box-shadow:none;
}

/* ---------------------------------------------Stock Management------------------------------------------- */
.stockBtn{
    position: relative;
    top:revert;
    left:50%;
    transform: translateX(-50%);
    padding:0;
    width: 40%;
    height: 7.5vh;
    font-size: revert;
    font-weight: 600;
    border-radius: 500px;
}

.addStock{
   display: block;
   width: 100%;
   margin: 0;
}

.stockAction{
    text-align: center;
    width: 50%;
    border-radius: 30px;
    padding: 5% 0;
}


/*-------------------------- Calendar ------------------------------------*/
.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
}

.calendar tr, .calendar td {
border: 1px solid black;
}

.calendar th {
padding: 10px;
text-align: center;
font-size: 18px;
}

.calendar td {
width: 200px;
height: 150px;
padding: 20px 0px 0px 5px;
}

.month {
font-size: 25px;
}

.date {
font-size: 16px;
}

ul {
height: 100%;
padding: 0px 5px 0px 20px;
}

a {
color: #17a2b8;
}


  /*add event*/

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix2 {
    margin: 15px;
  }


