{% extends 'accounts/mainStaff.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Karyn Chong Huei Xien-->
<!--Date: 4/10/20-->
<!--Validate: -->

  <body>
  
  {%block content%}   
  <div class="pageBanner">
      <h1>Assign Orders</h1>
  </div>
  <form id="editOrders" name='editorders' method="post">
    {% csrf_token %}
    <h1 id = "feedbackTitle">Orders</h1>    
    <fieldset>
      
      <legend>Edit Orders Information</legend>
    
        <p id= "ordersInfo">Select an Order to edit</p>
        <select name="order" id="SelectOrder">
          <option value='null'>--SELECT--  </option>
          {% for record in records%}
              <option value={{record.orderID}}>{{record.orderID}}</option>
          {% endfor %}
        </select>

        <p><input id="SearchButton" type="Submit" value="Search"/></p>
        
        {% for searchedOrder in SearchedOrder%}
            <h3>Assign Order #{{searchedOrder.orderID}}</h3>
            <p>
              <p style="font-size: 20px;  font-weight: bold; " id= "customerID">Customer ID:</p>
              <p>{{searchedOrder.customerID}}</p>
            </p>

            <p>
              <label style="font-size: 20px;  font-weight: bold;" for="teamID"> Team ID: </label>
              <select name="teamID" id="SelectTeam">
                <option value='null'>--SELECT--  </option>
                {% for t in teams%}
                    <option value={{t.teamID}} id="teamID" name="teamID">{{t.teamID}}</option>
                {% endfor %}
              </select>
              <!-- <input type="number" id="teamID" name="teamID" min="1" max="999" placeholder="Enter Team ID"> -->
              <input type="hidden" id='ChosenOrder' name='ChosenOrder' value={{searchedOrder.orderID}}>
            </p>


            <p>
              <p style="font-size: 20px;  font-weight: bold; " id= "cateringDatetime">Catering Date and Time: </p>
                <p>{{searchedOrder.cateringDatetime}}</p>
              </p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="CustFirstName">Customer First Name: </p>
              <p>{{searchedOrder.CustFirstName}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="CustLastName">Customer Last Name: </p>
              <p>{{searchedOrder.custLastName}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custEmail">Customer email: </p>
              <p>{{searchedOrder.custEmail}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custContact">Customer contact: </p>
              <p>{{searchedOrder.custContact}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custOrder">Customer order: </p>
              <p>{{searchedOrder.custOrder}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custRequest">Customer request: </p>
              <p>{{searchedOrder.custRequest}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " idr="location">Location: </p>
              <p>{{searchedOrder.location}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; "  id="amountDue">amountDue: </p>
              <p>{{searchedOrder.amountDue}}</p>
            </p>
            </div>
            <p><input type="Submit" name="submit" value="Submit"/></p>
            {% endfor %}
        
        
    </fieldset>
    
  </form>

  <script>
    $('#SearchButton').hide();
    $(document).ready(function() {
        $('#SelectOrder').on('change', function() {
          var $form = $(this).closest('form');
          $form.find('input[type=submit]').click();
        });
      });
  </script>
  {%endblock content%}

</html>