{% extends 'accounts/mainStaff.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Karyn Chong Huei Xien-->
<!--Date: 10/10/20-->
<!--Validate: -->

    <body >
        {%block content%}
        <div class="pageBanner">
            <h1>Calendar</h1>
        </div>
        <form>
            <div class="clearfix">
                <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
                
                <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
                <a class="btn btn-info right mr-2" href="{% url 'event_new' %}"> Add Event </a>
            </div>
            <div class="theCalendar">
                {{ calendar }}
            </div>
        </form>
        {%endblock%}
    </body>    
</html>