{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<title>Change Password</title>
<style>
.text-muted{
    color:grey;
}
.text-muted a{
    color:grey;
    font-weight: 700;
}

.text-muted a:hover{
    color:#a92507;
}
</style>
<div class="pageBanner">
        <h1>Changing password</h1>
    </div>
<div class="containerChgPassword">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        <br>
        <small class="text-muted">
            Forgot your password? <a class="ml-2" href="{% url 'reset_password' %}">Reset password</a>
        </small>
    </form>
</div>

{% endblock content %}