{% extends 'accounts/mainStaff.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Karyn Chong Huei Xien-->
<!--Date: 4/10/20-->
<!--Validate: -->

  <body>
  {%block content%} 
  <form id="editOrders" name='editorders' method="post">
    {% csrf_token %}
    <h1 id = "feedbackTitle">Assigned Orders</h1>    
    <fieldset>
      
      <legend>Edit Orders Information</legend>
    
        <p id= "ordersInfo">Select an Order to check</p>
        <select name="order" id="SelectOrder">
          <option value='null'>--SELECT--</option>
          {% for record in AssignedOrder%}
              <option value={{record.orderID}}>{{record.orderID}}</option>
          {% endfor %}
        </select>

        <p><input id="SearchButton" type="Submit" name="submit" value="Search"/></p>
        
        
        {% for searchedOrder in SearchedOrder%}
            <h3>Order #{{searchedOrder.orderID}}</h3>
            <input type="hidden" name='SearchedID' value={{searchedOrder.orderID}}>
            <p style="font-size: 20px;  font-weight: bold; " id= "customerID">Customer ID:</p>
                <p>{{searchedOrder.customerID}}</p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="teamID">Team Assigned: </p>
              <p>{{searchedOrder.teamID}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold;" id= "cateringDatetime">Catering Date and Time: </p>
              <p>{{searchedOrder.cateringDatetime}}</p>
          </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="CustFirstName">Customer First Name: </p>
              <p>{{searchedOrder.CustFirstName}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="CustLastName">Customer Last Name: </p>
              <p>{{searchedOrder.custLastName}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custEmail">Customer email: </p>
              <p>{{searchedOrder.custEmail}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custContact">Customer contact: </p>
              <p>{{searchedOrder.custContact}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custOrder">Customer order: </p>
              <p>{{searchedOrder.custOrder}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="custRequest">Customer request: </p>
              <p>{{searchedOrder.custRequest}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " idr="location">Location: </p>
              <p>{{searchedOrder.location}}</p>
            </p>

            <p>
              <p style="font-size: 20px;  font-weight: bold; " id="amountDue">amountDue: </p>
              <p>{{searchedOrder.amountDue}}</p>
            </p>
            </div>
            <p><input type="Submit" name="markComplete" value="Mark as Complete"/></p>
            {% endfor %}
        
        
    </fieldset>
    
  </form>
  <script>
  $('#SearchButton').hide();
  $(document).ready(function() {
      $('#SelectOrder').on('change', function() {
        var $form = $(this).closest('form');
        $form.find('input[type=submit]').click();
      });
    });
      var coll = document.getElementsByClassName("collapsible1");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
        });
      }
    </script>
  {%endblock content%}

</html>