{% extends 'accounts/mainStaff.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Chan Kwang Yung-->
<!--Date: 15/10/20-->
<!--Validate: -->

<head>
    <title>Home - Staff</title>
   
</head>
<body>
{%block content%} 
<div class="profile">
    
    <h2> Customer Accounts </h2>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Active</th>
            <th>Delete</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.is_active}}</td>
                <td><button onclick=deleteBox(this) data-username = "{{user.username}}" class="deleteBtn">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
    {% include 'accounts/deleteConfirm.html'%}
</div>
          
{% endblock %}
</body>