<div id="id01" class="modal">
        <form class="modal-content" action="/action_page.php">
          <div class="deleteContainer">
            <h3>Delete Account</h3>
            <p id = "deleteMessage"></p>
          
            <div class="clearfix">
               <p><a type="button" id="deleteYes" class="deletebtn">Delete</a></p>
               <p><button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button></p>
              
            </div>
          </div>
        </form>
      </div>