{% extends 'accounts/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Chan Kwang Yung-->
<!--Date: 4/10/20-->
<!--Validate: -->

<head>
    <title>Feedback Form</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css'%}">
    <link rel="shortcut icon" href="{% static '/images/logo.png'%}">
    <meta charset="utf-8">
    <meta name="author" content="Chang Kwang Yung">
    <meta name="description" content="Food Edge Feedback">
    <meta name="keywords" content="Food, Edge, Feedback, Form"> 
  </head>

  <body>
  <main>
  {%block content%}  
    <form id="Register" method="post" novalidate="novalidate">
    <h1 id = "feedbackTitle">Feedback</h1>
    <fieldset>
    <legend>Customer Information</legend>  
    
        <p class="name"><input type="text" id="owner" name="name" maxlength="25" placeholder="First Name e.g. HOWARD" />
            <input type="text" id="owner" name="name" maxlength="25" placeholder="Last Name e.g. POTTS"/>
        </p>

        <p><select name="gender">
            <optgroup label="Gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Others</option>
            </optgroup>
            </select></p>
    
        <p><input type="email" name="email"id="email" placeholder="Email Address e.g. howard123@hotmail.com" /></p>

    </fieldset>
            
    <fieldset>
      <legend>Menu Item</legend>
      <select name="food"id="food">
      </select>   
    </fieldset>
        

    
    <fieldset>
        <legend>Your Feedback</legend>
          <p>Please specify your feedback category
            <span class="category">
              <input type="radio" name="type" value="Suggestion" id="Suggestion"><label for="Suggestion">Suggestion</label>
              <input type="radio" name="type" value="Complaint" id="Complaint"><label for="Complaint">Complaint</label>
              <input type="radio" name="type" value="Compliment" id="Compliment"><label for="Compliment">Compliment</label>
            </span>
          </p>

          <p><textarea name="comments" rows="10" cols="50" placeholder="Please specify the aspect you are interested in (if any)"></textarea></p>
        <p>How much would you rate the item?</p>
        <p>  
        <div class="ratings">
          <input type = "radio" name = "rating" value="5" id = "5star"><label for="5star"></label>
            <input type = "radio" name = "rating" value="4" id = "4star"><label for="4star"></label>
            <input type = "radio" name = "rating" value="3" id = "3star"><label for="3star"></label>
            <input type = "radio" name = "rating" value="2" id = "2star"><label for="2star"></label>
            <input type = "radio" name = "rating" value="1" id = "1star"><label for="1star"></label>
          </div>
        </p>
    </table>
    </fieldset>
    
    
    <p>
        <input type="submit" value="Submit"/>
    </p>
    
    </form>
    {%endblock content%}
  </main>


</html>