{% extends 'accounts/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Chan Kwang Yung-->
<!--Date: 4/10/20-->
<!--Validate: -->

<head>
    <title>Home</title>
    
  </head>
  <body>
      
      {%block content%}  
      <script>
            $(window).scroll(function() {
            var height = $(window).scrollTop();
            
            if(height  > 400 && height  < 950) {
                $("h3").attr("data-scroll", "in");
                $("p").attr("data-scroll", "in");
            }else{
                $("h3").attr("data-scroll", "out");
                $("p").attr("data-scroll", "out");
            }
            
        });
        </script>


      <main>
        <section class="banner">
            <img src="{% static '/images/background.jpg' %}" class="bigBanner">
            <div class="textWrap">
                <h1 class="title">Where</h1>
                <h1 class="titleSpecial">Food</h1>
                <h1 class="title">Meets</h1>
                <h1 class="titleSpecial">Taste</h1>
            </div>
        </section>
        
        <section class="introHome">
                <div class="shadow"></div>
        
                <div class="containerHome">
                    <div class="descriptionHome">
                        <h3 class="titleHome" data-scroll>
                            Introduction
                        </h3>
                        <p class="textHome" data-scroll>Welcome to FoodEdge where we do our best to cater to your hungry needs! We supply you multiple choices of cuisines to excite you tastebuds! Our workers are friendly and helpful during services and our Cater Leaders would do their best to handle your needs.</p>
                    </div>
        
                    <div class="imgContainerHome">
                        <img src="{% static 'images/backgroundIntro.jpg' %}" class="imgIntro" alt="picture">
                    </div>
                </div>
            </section>
            
            <section>
                <div class="joinMember">
                    <div class="ptext">
                        <a class="index_products" href="{% url 'register' %}"><h2>
                            BE A MEMBER
                        </h2></a>
                        <div class="view_button"><p>&#8618;Click for more details</p></div>
                        <p><em>Join our membership program and get awesome perks such as discounts and gifts.</em></p>
                    </div>
                </div>
            </section>
            <section>
                    <div class="orderHome">
                        <div class="ptext">
                            <a class="index_products" href="{% url 'order' %}"><h2>
                                ORDER NOW
                            </h2></a>
                            <div class="view_button"><p>&#8618;Click for more details</p></div>
                            <p><em>Like what you see? Just click the button, fill the form and our staff members will cater to you as soon as possible</em></p>
                        </div>
                    </div>
                </section>
          
      </main>
    {%endblock content%}
    </body>
  
  </html>