{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
<!---->
{%block content%}
<style>
body{
    margin:0;
}

form{
    all:revert;
}
</style>
<div class="joinMember">
		
	</div>
    <div class="login_box">
        <h3>Customer Login</h3>
        <form method="POST">
            {% csrf_token %}
                {{form | crispy}}
            <div class="login_button">
                <button class="btn btn-outline-info" type="submit">Log In</button>
            </div>
        
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
            <small class="text-muted">
                Forgot your password? <a class="ml-2" href="{% url 'reset_password' %}">Reset password</a>
            </small>
        </form>
    </div>
{% endblock content %}