{% extends 'accounts/mainStaff.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Wong Jun Jie-->
<!--Date: 7/10/20-->
<!--Validate: -->
    <head>
        <title>Menu Management</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css'%}">
        <link rel="shortcut icon" href="style/images/logo.png">
        <meta charset="utf-8">
        <meta name="author" content="Wong Jun Jie">
        <meta name="description" content="Food Edge Feedback">
        <meta name="keywords" content="Food, Edge, Menu, Management"> 
    </head>
    <body>
        <main>
        {%block content%}
        {% include 'accounts/confirmBox.html'%}
            <form id="MenuAdd" method="post">
            {% csrf_token %}
                <h1 id = "feedbackTitle">Menu Management</h1>
                <table>
                    <tr>
                        <th>Menu Item ID</th>
                        <th>Item Name</th>
                        <th>Price($)</th>
                    </tr>
                    {%for mns in mn%}
                    <tr>
                        <td>{{mns.menuItemID}}</td>
                        <td>{{mns.itemName}}</td>
                        <td>{{mns.itemPrice}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <fieldset>
                    <legend>Add New Menu Item</legend>
                    <p>
                        <label for="itemname">Enter Menu Item Name: </label>
                        <input type="text" id="itemName" name="itemName" maxlength="25" placeholder="Menu Item Name"/>
                    </p>
                    <p>
                        <label for="pricing">Enter Item Pricing: </label>
                        <input type="number" id="itemPrice" name="itemPrice" min="0" max="999" placeholder="Enter Pricing (0 to 999)"/>
                    </p>
                    <p>

                        <input type="button" onclick=editBox(this) data-form-id="MenuAdd" data-username = "add" value="Insert Item"/>

                    </p>
                </fieldset>
            </form>
            
        </main>
    {%endblock content%}
    </body>


</html>