{% load static %}

<header>
        <a href = "{% url 'staff-home' %}"><img class="logo" src="{% static '/images/logo.png'%}" alt="Logo" width="150" height="75"></a>
        <nav>
            <ul>
                <a href = "{% url 'Management-home' %}" class="home"><li>Home</li></a>
                <a href = "{% url 'dashboard_with_pivot' %}" class="sets"><li>BalanceReport</li></a>
            </ul>
            
        </nav>
        {% if user.is_authenticated%}
          <a class="login" href= "{% url 'logout' %}"><button class="loginButton">Log Out</button></a>
          <a class="login" href= "{% url 'profile' %}" title="Profile"><img src="{{ user.profile.image.url }}" class="profile_icon"></a>
        {% endif %}
        
    </header>