{% extends 'accounts/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width", initial-scale="1.0">

        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">

       
    </head>

    
<body>
{%block content%}
<div class="pageBanner">
        <h1>Order</h1>
    </div>
    <form method="post">
    {% csrf_token %}

  
    <!--<img src = "styles/images/hint.png" alt="Hint/Help" title="hello"/>-->
    <div class="tooltip">
    <img class="questionmark" src="{% static 'images/hint.png' %}" alt="Image 1" />
    <span class="tooltiptext">*Hello User, You are reuired to fill all the field to make an order, except the Additional Request if needed*</span></div>
    <h1 id="ordertitle">FoodEdge Catering Order Form</h1>
    <fieldset>
    <legend>Personal Detail</legend>  
    
        <p class="ordername"> 
            <label name = "ordername">Full Name:</label>
            <input type="text" id="CustFirstName" name="CustFirstName" maxlength="25" placeholder="First Name e.g. MICHAEL" required = required/>
            <input type="text" id="custLastName" name="custLastName" maxlength="25" placeholder="Last Name e.g. JORDAN" required = required/>
        </p>
     <!--
        <p class="dob">
            <span class="dob_text">Date of birth:</span><input name="Date of Birth" type="text"id="date" placeholder="DD/MM/YYYY" required = required/>
        </p>
    -->
        <label name = "email">Email:</label>
        <p><input type="email" name="custEmail" id="email" placeholder="Email Address e.g. howard123@hotmail.com" /></p>
        <label name = "email">Contact Number</label>
        <p><input type="tel"id="tel" maxlength="11" name="custContact" placeholder="Phone number eg.012-3456789" pattern="[0-9]{3}-[0-9]{7}" required=required /></p>
    
    </fieldset>
        
    <fieldset>
    <legend>Billing Address</legend>
                    
    <label name = "address">Street Address:</label>
        <p><textarea name="location" id="address"placeholder="Your street address" rows="3" maxlength="40" required=required></textarea></p>
    
    
    
        <label name = "TownCity">Town/City:</label>
        <p><input name="Town / City" id="city"type="text "maxlength="25" placeholder="e.g. Kuching" required=required/></p>
                        
        
        
        <label name = "state">State</label>
        <p><input name="State" id="state"type="text "maxlength="25" placeholder="e.g. Sarawak" required=required/></p>
        </select>
    
    <p>Postcode</p>
    <p><input type="number" name="Postcode" id="postcode" placeholder="e.g. 12345" maxlength="5" required=required /></p>

    </fieldset>
    
            
    <fieldset>

    <legend>Catering Set</legend>
    <center>
      <select name="custOrder"id="product">
        {% for items in MenuList %}
         <option value={{items.menuItemID}}>{{items.itemName}}</option>
        {% endfor %}
      </select>
    </center> 
    </fieldset>

    <fieldset>
    <legend>Bookings (Date and Time)</legend>
    <div style="text-align: center">
        <input type = "date" name="OrderDate">
        {{example_form.my_date_field}}
    </div>
    <div style="text-align: center">
        <input type = "time" name="OrderTime">
        {{example_form.my_time_field}}
    </div>
    </fieldset>

        
    
    <fieldset>
    <legend>Additional Requests</legend>
        <p><textarea id="custRequest" name="custRequest" rows="10" cols="50" placeholder="Please specify the aspect you are interested in (if any)"></textarea></p>
    </fieldset>

    
    
    
    <button type="submit" class="makePayment">Proceed to Payment</button>
    <button type="reset">Reset</button>
    </form>
    {%endblock content%}
</body>

</html>