{% extends 'accounts/main.html' %}
{% load static %}
{%block content%}
<style>
input[type="email"]{
    
    background:white;
}

form{
    all:revert;
}
</style>

<div class="joinMember">
		
	</div>
    <div class="login_box">
    {% if user.is_authenticated %}
        <h3>You are not allowed to reset your password while logged in</h3>
    
    {% else %}
        <h3>Password reset</h3>

        <p>Forgotten your password? Enter your registered email address below, and we’ll email instructions for setting a new one.</p>

        <form method="post">

            {% csrf_token %}
            {{form}}
            <input type="Submit" name="Send email">
            
        </form>
    {% endif %} 
</div>
{% endblock content %}