{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
	<form id="paymentSuccessful">
	{% csrf_token %}
		<img id="tickPicture" src="{% static 'images/check.png' %}">
		<h4><strong>Customer name: {{OrderInfo.custLastName}}</strong> </h4>
		<h4><strong>Customer ID:</strong> {{OrderInfo.customerID}}</h4>
		<h4><strong>Customer contact number:</strong> {{OrderInfo.custContact}}</h4>
		<h4><strong>Customer email:</strong> {{OrderInfo.custEmail}}</h4>
		<h4><strong>Customer address:</strong> {{OrderInfo.location}}</h4>
		<h4><strong>Food set:</strong> {{OrderInfo.custOrder}}</h4>
		<h4><strong>Additional information:</strong> {{OrderInfo.custRequest}}</h4>
		<h4><strong>Total amount:</strong> RM {{OrderInfo.amountDue}}</h4>
		<hr>
		<a class="myButton" href="{% url 'order' %}">&#x2190;Back to order page</a>
	</form>

{% endblock content %}