{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}

<body>
{%block content%}
{% include 'accounts/confirmBox.html'%}
<div class="pageBanner">
    <h1>Profile</h1>
</div>
<div class="profile-header">
    <div class="profile-img">
            <img class="profile_pic" src="{{ user.profile.image.url }}" alt="Profile picture">
    </div>
    <div class="profile-desc">
        <h2>Username: {{ user.username }}</h2>
        
    </div>
    <div class="profile-details">
        <p>Email: {{ user.email }}</p>
        <p>Date Joined: {{user.date_joined}}</p>
    </div>
</div>
<button onclick=deleteBox(this) data-username = "/delete/{{user.username}}" class="deleteAccount">
    <img src="{% static 'images/trash.png' %}" alt="delete" title="Delete account">
</button>

<div class="tab">
    
    <button class="tablinks" onclick="openTab(event, 'avenue')">Avenue</button>
    <button class="tablinks" onclick="openTab(event, 'orders')">Orders</button>
    <button class="tablinks" onclick="openTab(event, 'transactions')">Past Transactions</button>
    <button class="tablinks" onclick="openTab(event, 'edit')">Edit Profile</button>
  </div>

  <div id="avenue" class="tabcontent">
    <div class="profile">
        <h2> Your Payment Avenues </h2>
            <table>
            <tr>
                {% for key in paymentInfo.keys %}
                        <th>{{key}}</th>
                {% endfor %}
            </tr>
            {% for value in paymentInfo.brand %}
                {% for value2 in paymentInfo.last4 %}
                        <tr>
                            <td>{{value}}</td>
                            <td>{{value2}}</td>
                        </tr>
                {% endfor %}
            {% endfor %}
            </table>
            </div>
  </div>
  
  <div id="orders" class="tabcontent">
    <div class="profile"> 
        <h2> Your Previous Orders </h2>
        <table>
            <tr>
                <th>Order #</th>
                <th>Date and Time</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Ordered Item</th>
                <th>Additional Request</th>
                <th>Address</th>
                <th>Amount (RM)</th>
            </tr>
            {% for order in allOrders %}
                <tr>
                    <td>{{order.orderID}}</td>
                    <td>{{order.cateringDatetime}}</td>
                    <td>{{order.custEmail}}</td>
                    <td>{{order.custContact}}</td>
                    <td>{{order.custOrder}}</td>
                    <td>{{order.custRequest}}</td>
                    <td>{{order.location}}</td>
                    <td>{{order.amountDue}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </div>
  
  <div id="transactions" class="tabcontent">
    <div class="profile">
    
        <h2> Your Last transactions </h2>
        <table>
            {% for key,value in transactionInfo.items %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </div>
  <div id="edit" class="tabcontent">
    <form id="editForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{u_form|crispy}}
            {{p_form|crispy}}
            <a href="{% url 'ChangePassword' %}" class="chgPassword">Change Password</a>
        </fieldset>
        <div class="form-group">
            <input id="editBtn" class="btn btn-outline-info" type="button" onclick=editBox(this) 
            data-form-id="editForm" data-username = "edit" value="Update"></input>
        </div>
    </form>

  </div>
  <style>
  
  </style>
    <script>
    var stripe = Stripe('pk_test_51HbjHmLUA515JZ27LzRLXvtX2PBYi0fYmIoL9CIeDf99kV3EfOWMNwH1ouamQaBscvNzox8JpZGsnTRXvFCl2gBh00HBcqYxnZ');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
            color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.on('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            
            
            event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
            // Inform the user if there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            } else {
            // Send the token to your server.
            stripeTokenHandler(result.token);
            }
        });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
        }

    </script>

          
{% endblock %}
</body>