{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}

{%block content%}
<style>
        body{
            margin:0;
        }
        
        form{
            all:revert;
        }

        #div_id_username{
            all:revert;
        }

        #div_id_username div{
            border: none;
        }

        #div_id_username .form-control{
            background: white;
            color:black;
        }

        #div_id_email, #div_id_password2,#div_id_password1 {
            all:revert;
        }

        .registerBtn button{
            background:none;
        }


        </style>
<div class="joinMember">
		
	</div>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{form | crispy}}
            </fieldset>
            <div class="registerBtn">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}