{% extends 'accounts/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Chan Kwang Yung-->
<!--Date: 4/10/20-->
<!--Validate: -->

<head>
    <title>Sets</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="shortcut icon" href="styles/images/logo.png">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="author" content="Chang Kwang Yung">
    <meta name="description" content="Food Edge Feedback">
    <meta name="keywords" content="Food, Edge, Feedback, Form">

    
  </head>

  <body>
  
   {%block content%} 
   <style type="text/css">
    
    .sets::after{
        content: "";
        display: block;
        width: 100%;
        height:2px;
        background-color: #a92507;
    }

    
    </style>  
  <main>
      <div class="pageBanner">
          <h1>Sets</h1>
      </div>

    <div class = "carousel" data-flickity='{ "cellSelector": ".carousel-slide", "wrapAround": true}'>
        <a href="#"><div class="static-banner">Order Now!</div></a>
      <div class="carousel-slide">
        <!--{% for items in menu %}
          {% if items.itemName == "Set 1 - Uno" %}
          <h2 class="setTitle">{{items.itemName}}</h2>
          {% endif %}
        {% endfor %} -->
        <h2 class="setTitle">Set 1</h2>
          <img class="region" src = "{% static 'images/western.png' %}">
          <div class="menuInfo">
          <div class="signatureDish">
              <h3>Signature Dish</h3>
              <section class="gallery">
                {%for items in menu1|slice:":3"%}
                  <figure class="gallery_item">
                    <img class="gallery_image" src="{{items.stockImage.url}}" alt="Stock Image" />
                  </figure>
                {%endfor%}
                  <input type="button" onclick="showComments(1)" value="Show Comments"/>
          </div>
         
          <div class="allItems">
              <h3>Items include: </h3>
                {%if menu.0 in notAvailable%}
                    <p>Unavailable</p>
                {%else%}
                   <p>Available</p>
                {%endif%}
              <ol>
                {% for res in re%}
                  {%if res.menuItemID == menu.0.menuItemID%}
                    <li>{{res.stockName}}</li>
                  {% endif %}
                {% endfor %}
              </ol>
              
          </div>
          
        </div>
      </div>
      <div class="carousel-slide">
          <h2 class="setTitle">Set 2</h2>
          <img class="region" src = "{% static 'images/local.png' %}">
          <div class="menuInfo">
          <div class="signatureDish">
              <h3>Signature Dish</h3>
              <section class="gallery">
                {%for items in menu2|slice:":3"%}
                <figure class="gallery_item">
                  <img class="gallery_image" src="{{items.stockImage.url}}" alt="Stock Image" />
                </figure>
              {%endfor%}
                  <input type="button" onclick="showComments(2)" value="Show Comments"/>
          </div>
         
          <div class="allItems">
              <h3>Items include: </h3>
                {%if menu.1 in notAvailable%}
                    <p>Unavailable</p>
                {%else%}
                    <p>Available</p>
                {%endif%}
              <ol>
                {% for res in re%}
                {%if res.menuItemID == menu.1.menuItemID%}
                  <li>{{res.stockName}}</li>
                {% endif %}
              {% endfor %}
              </ol>
          </div>
          
        </div>
      </div>
      <div class="carousel-slide">
          <h2 class="setTitle">Set 3</h2>
          <img class="region" src = "{% static 'images/chinese.png' %}">
          <div class="menuInfo">
          <div class="signatureDish">
              <h3>Signature Dish</h3>
              <section class="gallery">
                {%for items in menu3|slice:":3"%}
                <figure class="gallery_item">
                  <img class="gallery_image" src="{{items.stockImage.url}}" alt="Stock Image" />
                </figure>
                {%endfor%}
                  <input type="button" onclick="showComments(3)" value="Show Comments"/>
          </div>
         
          <div class="allItems">
              <h3>Items include: </h3>
                {%if menu.2 in notAvailable%}
                    <p>Unavailable</p>
                {%else%}
                    <p>Available</p>
                {%endif%}
              <ol>
                {% for res in re%}
                {%if res.menuItemID == menu.2.menuItemID%}
                  <li>{{res.stockName}}</li>
                {% endif %}
              {% endfor %}
              </ol>
          </div>
          
        </div>
      </div>
        
    </div>
      <div class="profile" id="set1">
        <h2 class="centerAlign" id="commentScroll1">Comments</h2>
        {%for comment in comments%}
          {%if comment.menuItemID == menu.0.menuItemID%}
          <h3 class="centerAlign">{{menu.0.itemName}}</h3>
          <div class="commentSection">
            <p><span class="commentUser">{{comment.commentfName}} {{comment.commentlName}}</span><span class="ratingStar"> gave {{comment.rating}} <i aria-hidden="true" class="fa fa-star"></i></span></p>
            <p>{{comment.commentContent}}</p>
          </div>
          {%endif%}
        {%endfor%}
      </div>
      <div class="profile" id="set2">
        <h2 class="centerAlign" id="commentScroll2">Comments</h2>
        {%for comment in comments%}
          {%if comment.menuItemID == menu.1.menuItemID%}
          <h3 class="centerAlign">{{menu.1.itemName}}</h3>
          <div class="commentSection">
            <p><span class="commentUser">{{comment.commentfName}} {{comment.commentlName}}</span><span class="ratingStar"> gave {{comment.rating}} <i aria-hidden="true" class="fa fa-star"></i></span></p>
            <p>{{comment.commentContent}}</p>
          </div>
          {%endif%}
        {%endfor%}
      </div>
      <div class="profile" id="set3">
        <h2 class="centerAlign" id="commentScroll3">Comments</h2>
        {%for comment in comments%}
          {%if comment.menuItemID == menu.2.menuItemID%}
          <h3 class="centerAlign">{{menu.2.itemName}}</h3>
          <div class="commentSection">
            <p><span class="commentUser">{{comment.commentfName}} {{comment.commentlName}}</span><span class="ratingStar"> gave {{comment.rating}} <i aria-hidden="true" class="fa fa-star"></i></span></p>
            <p>{{comment.commentContent}}</p>
          </div>
          {%endif%}
        {%endfor%}
      </div>


  </main>
 {%endblock content%}
</body>
</html>