{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}

{%block content%}
<style>
	body{
		margin-top:0;
	}
	form{
		all:revert;
	}

	

</style>


<div class="joinMember">
		
	</div>

	
    <div class="login_box">
		<h3>Staff Login</h3>
        <form method="POST" action="">	
			{% csrf_token %}
			<div class="login_textbox">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i>
				<input type="text" name="username" placeholder="Username..." class="form-control">
			</div>

			<div class="login_textbox">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<input type="password" name="password" placeholder="Password..." class="form-control" >
			</div>

			<div class="login_button">
				<input class="btn login_btn" type="submit" value="Login">
			</div>
		</form>

    </div>
{% endblock content %}