<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Wong Jun Jie-->
<!--Date: 5/10/20-->
<!--Validate: -->
    <head>
        <title>Stock Management</title>
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <link rel="shortcut icon" href="style/images/logo.png">
        <meta charset="utf-8">
        <meta name="author" content="Wong Jun Jie">
        <meta name="description" content="Food Edge Feedback">
        <meta name="keywords" content="Food, Edge, Stock, Management"> 
    </head>
    <body>
        <header>
            <a href = "#"><img class="logo" src="style/images/logo.png" alt="Logo" width="150" height="75"></a>
            <nav>
                <ul>
                    <a href = "#"><li>Sets</li></a>
                    <a href = "feedback.html"><li>Feedback</li></a>
                    <a href = "#"><li>About Us</li></a>
                    <a href = "#"><li>Order Now</li></a>
                </ul>
                
            </nav>
            <a class="login" href= "#"><button class="loginButton">Register</button></a>
            <a class="login" href= "#"><button class="loginButton">Login</button></a>
            
        </header>
        <main>
            <form id="StockAdd" method="post">
                <h1 id = "feedbackTitle">Stock Management</h1>
                <fieldset>
                    <legend>Add New Stock Item</legend>
                    <p>
                        <label for="stockname">Enter Stock Name: </label>
                        <input type="text" id="stockname" name="stockname" maxlength="25" placeholder="Stock Name" />
                    </p>
                    <p>
                        <label for="currentAmount">Enter Current Amount of Stock: </label>
                        <input type="number" id="currentAmount" name="currentAmount" min="0" max="9999" placeholder="Enter Quantity (from 0 to 9999)" />
                    </p>
                    <p>
                        <label for="pricing">Enter Stock Pricing: </label>
                        <input type="number" id="pricing" name="pricing" min="0" max="99999" placeholder="Enter Pricing (0 to 99999)" />
                    </p>
                    <p>
                        <input type="submit" value="Submit"/>
                    </p>
                </fieldset>
            </form>
        </main>
        <footer>
            <div class="wrapper">
                <div class="logo_footer">
                    <a href="index.html"><img src="style/images/logo.png" alt="Graceful Brides Logo" title="Back to Home"/></a>
                  </div>
                <div class="products_footer">
                  <ul>
                    <li><a class="hover_line" href="aline.html">Order Now</a> | </li>
                    <li><a class="hover_line" href="mermaid.html">About Us</a> | </li>
                    <li><a class="hover_line" href="ballgown.html">Make Feedback</a> | </li>
                    <li><a class="hover_line" href="lace.html">Sets</a></li>
                  </ul>
              </div>
      <p>&#xa9;2020 Power| Page developed by Chan Kwang Yung | Last updated: 01/04/2019 5:26pm</p>
      
    </footer>
    </body>


</html>