{% extends 'accounts/mainStaff.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--Description: Development project 2-->
<!--Author: Wong Jun Jie-->
<!--Date: 5/10/20-->
<!--Validate: -->
    <head>
        <title>Stock Management</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css'%}">
        <link rel="shortcut icon" href="style/images/logo.png">
        <meta charset="utf-8">
        <meta name="author" content="Wong Jun Jie">
        <meta name="description" content="Food Edge Feedback">
        <meta name="keywords" content="Food, Edge, Stock, Management"> 
    </head>
    <body>
        <main>
        {%block content%}
            <form id="StockAdd" method="post">
            {% csrf_token %}
                <h1 id = "feedbackTitle">Stock Management</h1>
                <fieldset>
                    <legend>Add New Stock Item</legend>
                    <p>
                        <label for="stockname">Enter Stock Name: </label>
                        <input type="text" id="stockname" name="stockName" maxlength="25" placeholder="Stock Name" required/>
                    </p>
                    <p>
                        <label for="currentAmount">Enter Current Amount of Stock: </label>
                        <input type="number" id="currentAmount" name="amountLeft" min="0" max="9999" placeholder="Enter Quantity (from 0 to 9999)" required/>
                    </p>
                    <p>
                        <label for="pricing">Enter Stock Pricing: </label>
                        <input type="number" id="pricing" name="deficit" min="0" max="99999" placeholder="Enter Pricing (0 to 99999)" required/>
                    </p>
                    <p>
                        <input type="submit" value="Insert Record"/>
                    </p>
                </fieldset>
            </form>
            
        </main>
    {%endblock content%}
    </body>


</html>