/*Description: FoodEdge CSS*/
/*Author:Chan Kwang Yung, Karyn Chong, Desmond Sim, Alvin Sim, Wong Jun Jie*/
/*Date:04/10/2020*/
/*Validated:*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif; 
    font-weight: 400;
}

body{
    
    background-color: #314e4e;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2%;
    background: #FDFEFD;
    box-shadow: 0 0 15px 1px black;
    
}

nav{
    margin-right: auto;
}


nav ul a li{
    width: 6em;
    text-align: center;
    font-weight: 500;
}

nav ul a {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    color: rgba(49, 78, 78, 0.8);
    
}
nav ul a::after{
    content: "";
    display: block;
    width: 0;
    height:2px;/*This makes it look like a thin line, the higher the value, the thicker the underline it will be*/
    background-color: #a92507;
    transition: width 500ms;
}

nav ul a:hover::after{
    width: 100%;
    transition: width 500ms;
}

  
nav ul a:hover{
    color: #a92507;
    transition: .5s;
}


.loginButton{
    padding: 10px 25px;
    margin: 0 10px;
    background-color: rgba(169, 37, 7, 0.7);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all .5s ease 0s;
    color: #FDFEFD;
    font-weight: bold;
}

.loginButton:hover{
    background-color: #a92507;
    color: #ffad49;
}
/* ------------------------------------------------index.html----------------------------------------------------- */

.banner{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.textWrap{
    text-align: center;
}

.title{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2rem;
    color:white;
}

.titleSpecial{
    font-family: 'Satisfy', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color:white;
}

.bigBanner{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.introHome{
    width: 100%;
    background-color: #151515;
    position: relative;
    z-index: 10;
}

.introHome .containerHome{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.introHome img{
    width: 100%;
}

.introHome .containerHome > *{
    margin: 2rem;
}

.descriptionHome{
    color: #fff;
    width:50%;
}

.imgContainerHome{
    width:50%;
}

.titleHome{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}


.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

@media (max-width: 850px){
    section .containerHome{
        grid-template-columns: 1fr;
    }
}

.joinMember, .orderHome{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url(images/joinMember.jpg);
    overflow: hidden;
  }

  .orderHome{background-image: url(images/orderHome.jpg)}
  

  .ptext .index_products{
    position: relative;
    width: 25%;
    text-align: center;
    display: block;
    margin:40vh auto 0 auto;
    background: #32241a99;
    border-radius: 2%;
    padding: 20px;
    color:white;
    z-index:10;
    font-size: 1.3rem;
    font-weight: 500;
    overflow: hidden;
    transition: .5s all ease;
  }
 
  
  .ptext p{
    color:white;
    position: absolute;
    top: 70%;
    width: 100%;
    margin: 0;
    padding:0 5% 0 5%;
    text-align: center;
    font-size: 1.3rem;
  }

  .view_button p{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
/* -----------------------------------------------------feedback.html------------------------------------------------------------------ */
form{
    background: white;
    width: 85%;
    box-shadow: 0 0 15px 1px black;
    padding: 5% 0;
    margin: 2% auto;
}

#feedbackTitle{
    text-align: center;
}

textarea{
    width:100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    width:100%;
    margin: 10px 0;
}

.name input{
    width: 49.5%;
}
.name{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


select{
    width:100%;
    padding: 12px 20px;
    border-radius: 4px;

}

fieldset{
    width:85%;
    margin:25px auto;
    border-radius: 10px;
    padding: 25px;
    border-color: #a92507;
}

legend{
    font-size: 18px;
    text-align: center;
}
.category input{
    width: auto;
}

.category label{
    padding: 10px;
}

.category{
    margin: 0 100px;
}

.ratings{
    display: flex;
    width:250px;
    margin: 0 auto;
    flex-direction: row-reverse;
}

.ratings input{
    display: none;
}

.ratings label{
    display: block;
    cursor: pointer;
    width: 50px;
}

.ratings label::before{
    content:'\f005';
    font-family: fontAwesome;
    position:relative;
    display:block;
    font-size:30px;
    color:gray;
}

.ratings label::after{
    content:'\f005';
    font-family: fontAwesome;
    position: relative;
    display:block;
    font-size:30px;
    color:#ffad49;
    top: -30px;
    opacity: 0;
    transition: all .3s ease 0s;
    
}

.ratings label:hover::after,
.ratings label:hover ~ label::after,
.ratings input:checked ~ label::after{
    opacity: 1;
    
}

input[type=submit]{
    background-color: white;
    border: #ffad49 3px solid;
    color: #ffad49;
    padding: .5em 1em;
    margin: 1em auto;
    display: block;
    font-size: 2em;
    cursor:pointer;
    transition: .5s;
    width:280px;
    border-radius: 10px;
}

input[type=submit]:hover{
background-color: #a92507;
border-color: #a92507;
}
button[type=submit]{
    background-color: white;
    border: #ffad49 3px solid;
    color: #ffad49;
    padding: .5em 1em;
    margin: 1em auto;
    display: block;
    font-size: 2em;
    cursor:pointer;
    transition: .5s;
    width:280px;
    border-radius: 10px;
}
/* --------------------------------------------------------------Customer Order------------------------------------------------------------------ */
#ordertitle{
    text-align: center;
}
.ordername{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

label {
    margin-top: 10px;
    display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 4;
  }
  
.name input{
	width: 100%;

}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.questionmark{
  width: 30px;
  margin-left: 90%;
}

.payment{
    text-align: center;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 50px;
    text-align: center;
}

button[type=submit]{
    background-color:  #ffad49;
    border: #ffad49 3px solid;
    color: black;
    padding: .5em 1em;
    margin: 1em auto;
    display: block;
    font-size: 2em;
    cursor:pointer;
    transition: .5s;
    width:280px;
    border-radius: 10px;
}
button[type=reset]{
    background-color: white;
    border: #ffad49 3px solid;
    color: black;
    padding: .5em 1em;
    margin: 1em auto;
    display: block;
    font-size: 2em;
    cursor:pointer;
    transition: .5s;
    width:280px;
    border-radius: 10px;
}

input[type=submit]:hover{
background-color: #a92507;
border-color: #a92507;
}
/* --------------------------------------------------------------stockEditRemove------------------------------------------------------------------ */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }




/* --------------------------------------------------------------karyn is dying---------------------------------------------------------- */

.collapsible1, .collapsible2 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible1:hover, .collapsible2:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#extra_info{
  font-size: 15px;
}

#assign_date{
  text-align: right
}

/*About us page */

#AboutUs, #about{
  text-align: center;
  margin: 15px;
}

#AboutUsTitle2{
  margin-top: 50px;
  text-align: center;
}

#about_info2{
  text-align: center;
  margin-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.leadersName{
  text-align: left;
  float: left;
}

/* -------------------------------------------------- sets.html--------------------------------------------------- */
.carousel{
    background: #314e4e;
    margin: 5vh auto;

}

.carousel-slide{
    width:90%;
    min-height:80vh;
    margin-right:10px;
    background-image: url("images/set1Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:5px;
}

  /* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
  /* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

.static-banner{
    position: absolute;
    top:80%;
    left:70%;
    height: 15%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a92507;
    color:white;
    z-index:10;
    font-size: 2em;
    font-weight: 500;
    overflow: hidden;
    transition: .5s all ease;
}

   
.static-banner:before, .ptext h2::before{
    content: '';
    position: absolute;
    background: #ffad49;
    left: 50%;
    top: 50%;
    z-index: -1;
    transition: all 0.6s ease;
    height: 0;
    width: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ptext h2::before{
    background: #a92507;
}

.static-banner:hover:before, .ptext h2:hover::before{
    height: 450%;
}
.static-banner:hover {
    color: #314e4e;
}

.setTitle{
      margin: 1% 0 0 2%;
      font-weight: bold;
      background: #FDFEFD;
      padding: 10px;
      width:30%;
      text-align: center;
}
.menuInfo{
    display: flex;
}

.signatureDish{
    width: 80%;
}

.signatureDish h3{
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    border-bottom: #FDFEFD solid 3px;
    color: #FDFEFD;
    font-weight: bold;
    text-align: center;
}

.region{
    position: absolute;
    left:80%;
    top:15%;

}

.gallery{
    width:100%;
    justify-content: center;
    display:flex;
    flex-flow: row wrap;
    margin: 0;
  }
  
  .gallery_item{
    width:50%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  .gallery_item a, .gallery_image{
    width:100%;
    height:100%;
    display:block;
  }
  
  .gallery_image{
    max-width: 100%;
    transition: transform .2s;
    transform: scale(0.9);
  }
  
  .gallery_item:hover .gallery_image{
    transform: scale(1);
  }
  /*Reviews*/
.user-content-part{
    margin-top: 5%;
}
.hedding-p p{	
	margin:0px;
	padding:0px 0px 10px 0px;
	font-size:15px;
}
.average-rating{
	text-align: center;
    width:100%;
}
.overall-rating{
    text-align: center;
    margin-top: 2%;
}

.fa-star,.fa-star-o,.fa-star-half-o{
	color:#FDC91B;
	font-size:15px;
}
.reviews p{
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: underline ;
    margin-top: 2%;
}
.user-img img{	
	height: 80px;
	width: 80px;
	border: solid 1px black;
	border-radius: 50%;
}
.user-img-part{
	width:30%;
	float:left;
}
.user-img{
	width:30%;
	float:left;
	text-align: center;
}
.user-text{
    float:left;
}
.user-text h4{
    font-size: 13px;
    font-weight: bold;
}
.user-text p{
    font-size: 10px
}
.user-text h4,.user-text p{
    margin:0px 0px 5px 0px;
}


.comment{
	width:68%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
}

.user-review{
    font-size: 0.8rem;
}


  
  /*product description style*/
  .all_details{
    position: absolute;
    bottom:-600px;
    background:#fff;
    padding:5%;
    transition: .5s;
    height:100%;
    width:100%;
    opacity: 0.9;
    overflow: auto;
  }
  
  .description h2{
    margin:0;
    padding:0;
    width:100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
  }
  
  .description p{
    margin:0;
    padding:0;
    width:100%;
    text-align: center;
    color: grey;
  }
  
  
  .gallery_item:hover .all_details{
  bottom:0;
  }
  
  /*improves fluidity of product catalog page*/
  @media only screen and (min-width: 48em){
    .gallery_item{
      flex-basis: calc(50% - 2rem);
    }
  }
  
  @media only screen and (min-width: 60em){
    .gallery_item{
      flex-basis: calc((100% / 3) - 2rem);
    }
  }
  .allItems{
      background: #34261bcc;
      color:white;
      padding: 3%;
      margin: 3%;
  }

  
/* --------------------------------------------------------------footer------------------------------------------------------------------ */
footer{
    height: 100%;
    width: 100%;
    text-align:center;
    background-color: #34261b;
    box-shadow: 0 0 15px 1px black;
    color: grey;
    position: relative;
    z-index: 6;
    padding: 3% 0;
}

.wrapper ul li{
    list-style-type: none;
    display: inline-block;
    margin: 3px;
}

.wrapper ul li a{
    text-decoration: none;
    color: white;
    opacity: .5;
}

.wrapper ul li a:hover{
    opacity: 1;
    transition:.5s;
}

.logo_footer img{
width:20%;
}

footer p{
    font-size: 15px;
    margin: 5px 0;
}
